#frame {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: table;
}

#context {
    color: #ccc;
    background-color: #666;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}

.temp {
    font-size: 2000%;
}

.time {
    font-size: 200%;
}